/* =====> General Style <===== */
:root {
  /* fonts */
  --font-default: "Open Sans", sans-serif;
  --font-heading: "Roboto", sans-serif;

  /* Colors */
  --color-primary: #0078ff;
  --color-hover: #0062d3;
  --color-black: #1e1e1e;
  --color-grey: #4e4e4e;
  --bg-color: #f5f5f5;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a:active {
  color: #fff !important;
}

body {
  font-family: var(--font-default);
  background-color: var(--bg-color);
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-black);
  font-family: var(--font-heading);
}

/* =====> Header <===== */
header nav .container .nav-link,
header .navbar-nav .nav-link.active {
  color: #fff;
}
header .navbar-brand {
  font-family: var(--font-heading);
  color: #fff;
  font-size: 28px;
  font-weight: 600;
  letter-spacing: 1px;
}
header .navbar-toggler {
  background-color: white;
}
header .navbar-brand:hover,
header .nav-link:hover {
  color: #fff;
}
header .nav-item {
  position: relative;
}
header .nav-link::before {
  content: "";
  position: absolute;
  left: 8px;
  right: 100%;
  bottom: 0;
  background-color: #fff;
  height: 2px;
  transition: 0.3s;
  transition-timing-function: ease-out;
}
header .nav-link:hover::before {
  right: 30%;
}

/* =====> Home page <===== */
.home {
  background-image: url(../images/hero-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
}
.home .overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.home .content h1 {
  position: relative;
  color: #fff;
  font-size: 48px;
  text-align: center;
}
