/* =====> Variables <===== */
:root {
  /* fonts */
  --font-default: "Open Sans", sans-serif;
  --font-heading: "Roboto", sans-serif;

  /* Colors */
  --color-primary: #0078ff;
  --color-hover: #0062d3;
  --color-black: #1e1e1e;
  --color-grey: #4e4e4e;
  --bg-color: #f5f5f5;
}

/* =====> General Style <===== */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: var(--font-default);
  background-color: var(--bg-color);
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-black);
  font-family: var(--font-heading);
}

img {
  display: block;
  max-width: 100%;
}

section {
  padding-top: 5rem;
}

/* =====> Main Compound <===== */
/* main title */
.main-title {
  padding-bottom: 40px;
  text-align: center;
  position: relative;
}
.main-title h2 {
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: bold;
}
.main-title p {
  position: relative;
}
.main-title p::after {
  content: "";
  position: absolute;
  width: 70px;
  height: 5px;
  bottom: -15px;
  left: 50%;
  transform: translateX(-50%);
  background: var(--color-primary);
}

/* =====> Header <===== */
header {
  background: rgba(0, 0, 0, 0.9);
}
nav .navbar-brand {
  font-size: 28px;
  color: #fff;
  font-family: var(--font-heading);
  text-transform: none;
  font-weight: 600;
  letter-spacing: 1px;
}
.navbar-brand:focus,
.navbar-brand:hover {
  color: #fff;
}
.navbar .nav-item .nav-link {
  text-transform: uppercase;
  color: #fff !important;
  position: relative;
}
.navbar .nav-item .nav-link::before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 8px;
  right: 100%;
  bottom: 0;
  background: #fff;
  height: 2px;
  transition: 0.3s;
}
.navbar .nav-item .nav-link:hover::before {
  right: 30%;
}
.navbar .nav-item .nav-link.active::before {
  right: 30%;
}

/* =====> Home <===== */
#home {
  background-image: url(../images/hero-bg.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center center;
}
#home .overlay {
  background-color: rgba(0, 0, 0, 0.5);
}
#home h1 {
  font-size: 48px;
}
#home span {
  color: #fff;
}

/* =====> About <===== */
#about .container .box-shadow {
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.06), 0 2px 5px 0 rgba(0, 0, 0, 0.2);
  padding: 3rem 1.25rem;
}

#about .about h4::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 70px;
  height: 2px;
  background-color: var(--color-primary);
}

#about .skill .progress {
  margin: 0.5rem 0 1.2rem 0;
}

/* =====> SERVICES <===== */
#services .inner {
  background-color: #fff;
  text-align: center;
  border-radius: 1rem;
  padding: 2.5rem 1.3rem;
  margin-bottom: 3rem;
  box-shadow: 0 13px 8px -10px rgba(0, 0, 0, 0.1);
}
#services .circle {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  outline: 7px solid var(--color-primary);
  transition: 0.3s;
  margin: auto;
  margin-bottom: 1rem;
}
#services .circle i {
  font-size: 40px;
  transition: 0.3s;
}
#services .inner:hover .circle {
  background-color: var(--color-primary);
  outline: 7px solid rgba(0, 119, 255, 0.342);
}
#services .inner:hover .circle i {
  color: #fff;
}

/* =====> Counter <===== */
#counter {
  background-image: url(../images/counters-bg.jpg);
  background-position: center center;
  background-size: cover;
  position: relative;
}
#counter .overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #0078ff;
  opacity: 0.7;
}
#counter .item {
  color: #fff;
  text-align: center;
  margin-bottom: 3rem;
  position: relative;
}
#counter .circle {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  outline: 7px solid #fff;
  margin: auto;
  margin-bottom: 1rem;
}
#counter .circle i {
  font-size: 40px;
}
#counter span {
  font-size: 32px;
}

/* =====> PORTFOLIO <===== */
#portfolio .item {
  box-shadow: 0 13px 8px -10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  margin-bottom: 3rem;
}
#portfolio .item .photo {
  overflow: hidden;
}

#portfolio .item .special {
  color: var(--color-primary);
}
#portfolio .item img {
  transition: 1s;
}
#portfolio .item:hover img {
  transform: scale(1.3);
}

#portfolio .item .content {
  padding: 2rem 3% 1rem 4%;
}
#portfolio .item .content h3 {
  font-size: 1.2rem;
}

#portfolio .item .circle {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 3px solid var(--color-primary);
  text-decoration: none;
  margin-left: auto;
  margin-top: 1rem;
}
#portfolio .item .circle i {
  font-size: 25px;
}

/* =====> Testimonials <===== */
#testimonial {
  background-image: url(../images/overlay-bg.jpg);
  background-position: center center;
  background-size: cover;
  position: relative;
  padding: 8rem 0;
}
#testimonial .overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #0078ff;
  opacity: 0.7;
}
#testimonial .carousel-item {
  color: #fff;
  text-align: center;
}
#testimonial .carousel-item img {
  width: 150px;
  border-radius: 50%;
  margin: auto;
}
#testimonial .carousel-item h5 {
  color: #fff;
  margin: 16px 0;
}
#testimonial button {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-left: 10px;
}

/* =====> Blog <===== */
#blog .card {
  margin-bottom: 1rem;
}
#blog .card-body h6 {
  background-color: var(--color-primary);
  width: fit-content;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 5px 15px;
  color: #fff;
  border-radius: 6px;
}
#blog a {
  color: var(--color-black);
  font-weight: 700;
  text-decoration: none;
  transition: 0.3s;
}
#blog a:hover {
  color: var(--color-primary);
}
#blog .card-footer img {
  width: 30px;
  border-radius: 50%;
}
#blog .card-footer a {
  display: flex;
  align-items: center;
  gap: 5px;
}
